<a href="https://colab.research.google.com/github/godqhrgo7849/python/blob/master/2%EC%9D%BC%EC%B0%A8_2%EC%B0%A8%EC%8B%9C_input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
a = input('당신의 이름을 입력하시오 :')
a

당신의 이름을 입력하시오 :나

'나'

In [10]:
b = input('당신의 나이을 입력하시오 :')
b

당신의 나이을 입력하시오 :133

'133'

In [7]:
type(b)

str

In [11]:
c= int(b)
c

133

In [12]:
year = int(input('출년년도'))
print('당신은',year,'몇년살입니까?')
age = 2020-year+1
print('당신의 나이는',age,'세 입니다.')

출년년도18
당신은 18 몇년살입니까?
당신의 나이는 2003 세 입니다.

In [13]:
s='a is{}'
s.format('apple')
s

'a is{}'

In [14]:
a = '%s %d 개 가격은 %.2f 달라'
b = a %('햄버거 ',2,4.0*2)
print(a)
print(b)

%s %d 개 가격은 %.2f 달라
햄버거  2 개 가격은 8.00 달라

In [0]:
# 치킨 2마리 가격은 40000원