<a href="https://colab.research.google.com/github/godqhrgo7849/python/blob/master/6%EC%9D%BC%EC%B0%A8_2%EC%B0%A8%EC%8B%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [2]:
list_tmp = [1,2,3]
list_tmp

[1, 2, 3]

In [0]:
s1=pd.core.series.Series([1,2,3])

In [0]:
s2=pd.core.series.Series(['일','이','삼'])

In [7]:
pd.DataFrame(data=dict(num=s1,word=s2))

   num word
0    1    일
1    2    이
2    3    삼

In [0]:
num_se=pd.Series([1,2,3,4,5])
num_df=pd.DataFrame([1,2,3,4,5],index=[1,2,3,4,5])

In [13]:
print(num_se,num_df)

0    1
1    2
2    3
3    4
4    5
dtype: int64    0
1  1
2  2
3  3
4  4
5  5