### Format_for_list

In [32]:
s = '{} {} {}'
f=s.format('대건','윤기','찬빈')
print(f)

대건 윤기 찬빈

In [33]:
s = '{}이는 {}와 {}를 친구라고 생각한다'
f=s.format('대건','윤기','찬빈')
print(f)

대건이는 윤기와 찬빈를 친구라고 생각한다

In [34]:
s = '{}이는 {}번이고 {}에 진학했다'
f=s.format('대건',30312,'인천대')
print(f)

대건이는 30312번이고 인천대에 진학했다

In [35]:
name = '석찬'
num = 30103
add = '인천시 연수구'
s = '{}이는 {}번이고 {}에 살고있다'
f=s.format(name,num,add)
print(f)

석찬이는 30103번이고 인천시 연수구에 살고있다

In [36]:
name = input('이름입력>>>')
num = input('학번입력>>>')
add = input('주소입력>>>')
s = '{}이는 {}번이고 {}에 살고있다'
f=s.format(name,num,add)
print(f)

이름입력>>>석찬
학번입력>>>30301
주소입력>>>인천시 연수구
석찬이는 30301번이고 인천시 연수구에 살고있다

In [6]:
stu= input('이름 학번 주소 띄어쓰기를 이용해 입력>>>').split()

이름 학번 주소 띄어쓰기를 이용해 입력>>>이름 111 집

In [7]:
stu

['이름', '111', '집']

In [8]:
stu[0],stu[1]

('이름', '111')

In [9]:
s = '{}이는 {}번이고 {}에 살고있다'
f=s.format(stu[0],stu[1],stu[2])
print(f)

이름이는 111번이고 집에 살고있다

### [문제1] 다음과 같은 양식으로 입력받아 출력하기
- 햄버거/2/4 입력하면
- 햄버거 2개 값은 8 달러입니다.

In [10]:
h = input().split()
a = '{} {}개 값은 {} 달러입니다.'
k=a.format(h[0],h[1],int(h[2])*int(h[1]))
print(k)

햄버거 2 4
햄버거 2개 값은 8 달러입니다.

In [11]:
info = '%d %s %f'
pr = info%(20,'인천',0.5)
print(pr)

20 인천 0.500000

In [12]:
info = '%d년도 %s여고 %0.2f퍼센트'
pr = info%(20,'인천',0.05)
print(pr)

20년도 인천여고 0.05퍼센트

### [문제2] 햄버거 2개는 8달러이다.(%문을 이용)
- '햄버거'
- 2
- 2*4

In [13]:
food = '%s %d개는 %d달러이다.'
fo = food%('햄버거',2,2*4)
print(fo)

햄버거 2개는 8달러이다.

### list

In [14]:
arr = [1,2,3,4]
arr

[1, 2, 3, 4]

In [15]:
arr = ['고래','판다','백조','우파루파','레서판다']
arr

['고래', '판다', '백조', '우파루파', '레서판다']

In [16]:
arr[0]

'고래'

In [17]:
len(arr)

5

In [18]:
for i in range(1,6) :
    print(i)

1
2
3
4
5

In [19]:
for i in range(5,0,-1) :
    print(i)

5
4
3
2
1

In [20]:
for i in arr :
    print(i)

고래
판다
백조
우파루파
레서판다

In [21]:
for i in range(len(arr)) :
    print(arr[i])

고래
판다
백조
우파루파
레서판다

In [22]:
for i, v in enumerate(arr) :
    print(arr[i])

고래
판다
백조
우파루파
레서판다

In [24]:
for i, v in enumerate(arr) :
    print(i+1,'번',v)

1 번 고래
2 번 판다
3 번 백조
4 번 우파루파
5 번 레서판다

### [문제1] 30~50까지 출력하기

In [28]:
for i in range(30,51):
    print(i,end=' ')

30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

### [문제2]30~50까지 중 홀수만 출력하기 (if사용)

In [31]:
for i in range(30,51):
    if i%2!=0 :
        print(i,end=' ')

31 33 35 37 39 41 43 45 47 49

### [문제3]30~50까지 중에서 홀수만 더해서 sum에 넣고 출력

In [43]:
sum=0
for i in range(30,51):
    if i%2!=0 :
        sum=sum+i
        print('i값',i,'sum값',sum)

i값 31 sum값 31
i값 33 sum값 64
i값 35 sum값 99
i값 37 sum값 136
i값 39 sum값 175
i값 41 sum값 216
i값 43 sum값 259
i값 45 sum값 304
i값 47 sum값 351
i값 49 sum값 400

### [문제4]
- 1부터 10까지 중에서
- 짝수이면 파이썬
- 홀수이면 야 너도 할 수 있어 출력

In [62]:
for i in range(1,11) :
    if i%2!=0 :
        print(i,'번','너도 할 수 있어')
    else :
        print(i,'번','파이썬')

1 번 너도 할 수 있어
2 번 파이썬
3 번 너도 할 수 있어
4 번 파이썬
5 번 너도 할 수 있어
6 번 파이썬
7 번 너도 할 수 있어
8 번 파이썬
9 번 너도 할 수 있어
10 번 파이썬