### [문제2]_30303_김재홍

In [11]:
#1. 우리반 친구 이름으로 리스트 만들어서 (요소는 5개) 출력
a=['허대범','허진우','허호정','조인성','정호현']
print(a)

['허대범', '허진우', '허호정', '조인성', '정호현']

In [14]:
#2. 다음과 같은 리스트에 대해 예제와 같이 출력
stu = [5,[1,2,3],['민우','민영','민재']]
print('우리반은',stu[1][2],'반 입니다')
print(stu[1][0],'번은',stu[2][0])
print(stu[1][1],'번은',stu[2][1])
print(stu[1][2],'번은',stu[2][2])

우리반은 3 반 입니다
1 번은 민우
2 번은 민영
3 번은 민재

In [15]:
import random as r

In [16]:
#3.점심메뉴 lunch 변수로 리스트 만들고 문자열과 함께 출력하기
lunch = ['비빔밥','볶음밥','불고기덮밥']

In [23]:
r.shuffle(lunch)
print('아침 메뉴',lunch[0])
print('점심 메뉴',lunch[0])
print('저녁 메뉴',lunch[0])

아침 메뉴 불고기덮밥
점심 메뉴 불고기덮밥
저녁 메뉴 불고기덮밥

In [98]:
#4. random 모듈 이용해서 다음을 코딩하기
b=['치킨','피자','햄버거','물']
r.shuffle(b)
print(b[0])

물

In [110]:
b.sort()
print(b)

['물', '치킨', '피자', '햄버거']

In [91]:
b.reverse()
print(b)

['물', '햄버거', '피자', '치킨']

In [104]:
#5.숫자 5개를 split로 구분하여 list로 입력받기(split,map,list)
n = list(map(int,input('숫자 5개 입력 >>>').split(' ')))

숫자 5개 입력 >>>78 4 15 4 1

In [111]:
#6.5번 문제에 대해 sort(),reverse()해보기
n.sort()
n

[1, 4, 4, 15, 78]

In [112]:
n.reverse()
n

[78, 15, 4, 4, 1]

In [115]:
#7.for문을 이용해서 1부터 10까지 출력하기(range)
for i in range(1,11) :
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [119]:
#8.for문을 이용해서 출력하기
a=['피자','치킨','닭발','라면','돈가스']
for i in range(0,5) :
    print(i+1,'번',a[i])

1 번 피자
2 번 치킨
3 번 닭발
4 번 라면
5 번 돈가스

In [129]:
#9.for문을 이용해서 1부터 100까지 홀수 합계구하기(range(1,100,2))
s = 0
for i in range(1,100,2):
    print(i,end=' ')
    s=s+i
print('합계 :',s)

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 합계 : 2500

In [133]:
#10. 이중 for문을 이용해서 구구단 출력하기
for i in range(1,10):
    for j in range(1,10):
        print(i,'*',j,'=',i*j)
    print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81